{% extends 'base.html' %}
{% load static %}
{% block title %}Kedzőlap{% endblock %}


{% block content %} 
<div  style="background-color: #09122C;" class="breadcrumbs">
    <div class="container">
        <div  class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 style=" color: #fff" class="page-title">Kosár</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a style=" color: #fff" href="{% url 'home' %}"><i class="lni lni-home"></i> Kezdőlap</a></li>
                    <li><a style=" color: #fff" href="{{request.META.HTTP_REFERER}}">Előző oldal</a></li>
                    <li>{{ product.nev }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="h-100 h-custom" style="background-color: #09122C;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="#!" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Vásárlás folytatása</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-0">A kosárban lévő tételek száma : {{ cart | length }}</p>
                    </div>
                  </div>
                {% if cart_products %}
                  {% for product in cart_products %}
                  <div class="rounded card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              src="{{ product.kep.url }}"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{ product.nev }}</h5>
                            <p class="small mb-0">256GB, Navy Blue</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          

                          <select id="select{{product.id}}" class="form-select" aria-label="Default select example">
                            {% for key,value in quantities.items %}
                            {% if key == product.id|slugify%}
                            <option selected>{{ value  }}</option>
                            {% endif %}
                            {% endfor %}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="3">4</option>
                            <option value="3">5</option>
                          </select>
                          <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart m-3">Frissítés</button>
                          <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product m-3">Törlés</button>
                          <div style="width: 50px;">
                          </div>
                          <div style="width: 80px;">
                            <h5 class="mb-0">{{ product.ar }}</h5>
                          </div>
                          <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                        </div>

                      </div>

                    </div>
                  </div>
                  {% endfor %}
                  
                  {% else %}
                  <div class="rounded card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">

                          <div class="ms-3">
                            <h5>Jelenleg a kosár semmit nem tartalmaz.</h5>
                          </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
                
                <div class="col-lg-5">
  
                  <div style="background-color: #09122C" class="card text-white rounded-3">
                    <div class="card-body">
  
                      <p class="small mb-2">Kártya típusa</p>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-visa fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-amex fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
  
                      <form class="mt-4">
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                          <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                            placeholder="Kártyatulajdonos neve" />
                          <label class="form-label" for="typeName">Kártyatulajdonos neve</label>
                        </div>
  
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                          <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                            placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                          <label class="form-label" for="typeText">Kártya szám</label>
                        </div>
  
                        <div class="row mb-4">
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="text" id="typeExp" class="form-control form-control-lg"
                                placeholder="HH/ÉÉÉÉ" size="7" id="exp" minlength="7" maxlength="7" />
                              <label class="form-label" for="typeExp">Lejárat</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="password" id="typeText" class="form-control form-control-lg"
                                placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                              <label class="form-label" for="typeText">CVV</label>
                            </div>
                          </div>
                        </div>
  
                      </form>
  
                      <hr class="my-4">
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Részösszeg</p>
                        <p class="mb-2">Ft</p>
                      </div>
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Szállítás</p>
                        <p class="mb-2">Ft</p>
                      </div>
  
                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Összesen</p>
                        <p class="mb-2">{{ totals }}Ft</p>
                      </div>
  
                      <button style="background-color: #FF6500; color: #fff; border:none; " type="button" data-mdb-button-init data-mdb-ripple-init class="update-cart btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                          <span>Fizetés <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                        </div>
                      </button>
  
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script>
    //Kosár frissítése
    $(document).on('click', '.update-cart', function(e){
      e.preventDefault();
      // grab the product id
      var productid = $(this).data('index');
  
      $.ajax({
      type: 'POST',
      url: '{% url 'cart_update' %}',
      data: {
        product_id: $(this).data('index'),
        product_qty: $('#select' + productid + ' option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function(json){
          //console.log(json)
          //document.getElementById("cart_quantity").textContent = json.qty
          location.reload();
      },
  
      error: function(xhr, errmsg, err){
  
      }
  
  
      });
  
  })

  //Termék törlése
  $(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    // grab the product id
    //var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: '{% url 'cart_delete' %}',
    data: {
      product_id: $(this).data('index'),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
        //console.log(json)
        //document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    },

    error: function(xhr, errmsg, err){

    }


    });

})

  
  </script>

{% endblock%}



