{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Kedzőlap{% endblock %}


{% block content %} 
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">{{ category }}</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="{% url 'home' %}"><i class="lni lni-home"></i> Kezdőlap</a></li>
                    <li><a href="{{request.META.HTTP_REFERER}}">Előző oldal</a></li>
                    <li>{{ product.nev }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            {% for product in products %} 
            {% if product.akcios_ar %}
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Product -->
                <div class="single-product">
                    <div class="product-image">
                        <img src="{{ product.kep.url }}" alt="#">
                        <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right:0.5rem">Akció</div>
                        <div class="button">
                            <a href="{% url 'product' product.id %}" class="btn"><i class="lni lni-cart"></i>Megtekintés</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category">{{ product.kategoria }}</span>
                        <h4 class="title">
                            <a href="product-grids.html">{{ product.nev }}</a>
                        </h4>
                        <div class="price">
                            <strike>{{ product.ar| intcomma   }} Ft</strike>
                           <span> &nbsp;{{ product.akcios_ar| intcomma   }} Ft </span>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
            {% else %}
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Product -->
                <div class="single-product">
                    <div class="product-image">
                        <img src="{{ product.kep.url }}" alt="#">
                        <div class="button">
                            <a href="{% url 'product' product.id %}" class="btn"><i class="lni lni-cart"></i>Megtekintés</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category">{{ product.kategoria }}</span>
                        <h4 class="title">
                            <a href="product-grids.html">{{ product.nev }}</a>
                        </h4>

                        <div class="price">
                            <span>{{ product.ar | intcomma  }} Ft</span>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>


{% endblock%}



